<div class="list-group">
	<?php if ($catalog_id === 90) { ?>
	<a href="/index.php?route=product/category&path=90" class="list-group-item active"><b><?php echo mb_strtoupper($heading_title, 'UTF-8'); ?></b></a>
	<?php } else { ?>
	<a href="/index.php?route=product/category&path=90" class="list-group-item"><?php echo mb_strtoupper($heading_title, 'UTF-8'); ?></a>
	<?php } ?>
<?php foreach ($informations as $information) { ?>
	 <?php if ($information['information_id'] == $information_id) { ?>
	<a href="<?php echo $information['href']; ?>" class="list-group-item active"><b><?php echo mb_strtoupper($information['title'], 'UTF-8'); ?></b></a>
	<?php } else { ?>
	<a href="<?php echo $information['href']; ?>" class="list-group-item"><?php echo mb_strtoupper($information['title'], 'UTF-8'); ?></a>
	<?php } ?>
<?php } ?>
</div>
