.box.categories_sales{	margin-bottom:50px;}
.categories_sales .box-heading{	display:none;}
.categories_sales .category_sale{	display:inline-block;
	width:375px;
	margin-right:30px;
	vertical-align:top;}
.categories_sales .category_sale:last-child{
	margin-right:0px;
}
.category_sale .countdown{	width:auto;
	display:block;
	float:right;
	font-size:11px;
	color:#a7a9ac;
}
.category_sale .countdowntime{
	display:inline-block;
	vertical-align:middle;
	font-size:25px;
	font-weight:bold;
	color:#a7a9ac;
	margin-left:5px;
}
.category_price{
	font-size:30px;
	text-align:center;
	display:block;
}